@import './assets/variables';

body {
  background-color: $sv-black;
}

.main {
  position: absolute;
  top: 25%;
  left: 40%;
  display: flex;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 330px;
}
